<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('Customer_name')}:</label>
            <div class="col-xs-6  col-lg-2">
                <input id="c-customer_name" data-rule="required" class="form-control" name="row[customer_name]" type="text" value="">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('Customer_telephone')}:</label>
            <div class="col-xs-6 col-lg-2">
                <input id="c-customer_telephone" data-rule="required|mobile" class="form-control" name="row[customer_telephone]" type="text" value="">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('Customer_identity_type')}:</label>
            <div class="col-xs-6 col-lg-2">

                <select  id="c-customer_identity_type" data-rule="required" class="form-control selectpicker" name="row[customer_identity_type]">
                    {foreach name="CustomerIdentityTypeList" item="vo"}
                        <option value="{$key}" {in name="key" value="1"}selected{/in}>{$vo}</option>
                    {/foreach}
                </select>

            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('Customer_identity_id')}:</label>
            <div class="col-xs-6 col-lg-2">
                <input id="c-customer_identity_id" data-rule="required;max"  class="form-control" name="row[customer_identity_id]" type="text" value="">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('Start_time')}:</label>
            <div class="col-xs-6 col-sm-6">
                <input id="c-start_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[start_time]" type="text" value="{:date('Y-m-d H:i:s')}">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('End_time')}:</label>
            <div class="col-xs-6 col-sm-6">
                <input id="c-end_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[end_time]" type="text" value="{:date('Y-m-d H:i:s')}">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label col-xs-6 col-sm-4">{:__('Rent_days')}:</label>
            <div class="col-xs-6 col-sm-6">
                <input id="c-rent_days" data-rule="required" class="form-control" name="row[rent_days]" type="number" value="">
            </div>
        </div>

        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('Source')}:</label>
            <div class="col-xs-6 col-sm-6">

                <select  id="c-source" data-rule="required" class="form-control selectpicker" name="row[source]">
                    {foreach name="sourceList" item="vo"}
                        <option value="{$key}" {in name="key" value="1"}selected{/in}>{$vo}</option>
                    {/foreach}
                </select>

            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('Rent_office_id')}:</label>
            <div class="col-xs-6 col-sm-6">
                <input id="c-rent_office_id" data-rule="required" data-source="office/index"  data-field="fullname"  data-params='{"custom[parentid]":"1","custom[status]":"0"}' class="form-control selectpage" name="row[rent_office_id]" type="text" value="">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('Return_office_id')}:</label>
            <div class="col-xs-6 col-sm-6">
                <input id="c-return_office_id" data-rule="required" data-source="office/index"  data-field="fullname"  data-params='{"custom[parentid]":"1","custom[status]":"0"}' class="form-control selectpage" name="row[return_office_id]" type="text" value="">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('Vehicle_model_id')}:</label>
            <div class="col-xs-6 col-sm-6">
                <input id="c-vehicle_model_id" data-rule="required" data-source="vehicle/model/index"  data-field="vehicle_model" data-pagination="true" data-page-size="10"   class="form-control selectpage" name="row[vehicle_model_id]" type="text" value="">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('Vehicle_id')}:</label>
            <div class="col-xs-6 col-sm-6">
                <input id="c-vehicle_id" data-rule="required" data-source="vehicle/vehicle/index" data-field="plate_number" class="form-control selectpage" name="row[vehicle_id]" type="text" value="">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('Usertype')}:</label>
            <div class="col-xs-6 col-sm-6">

                <select  id="c-usertype" data-rule="required" class="form-control selectpicker" name="row[usertype]">
                    {foreach name="usertypeList" item="vo"}
                        <option value="{$key}" {in name="key" value="1"}selected{/in}>{$vo}</option>
                    {/foreach}
                </select>

            </div>
        </div>


        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('Price_type')}:</label>
            <div class="col-xs-6 col-sm-6">

                <select  id="c-price_type" data-rule="required" class="form-control selectpicker" name="row[price_type]">
                    {foreach name="priceTypeList" item="vo"}
                        <option value="{$key}" {in name="key" value="1"}selected{/in}>{$vo}</option>
                    {/foreach}
                </select>

            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('Preferential_type')}:</label>
            <div class="col-xs-6 col-sm-6">
                <select  id="c-preferential_type" class="form-control selectpicker" name="row[preferential_type]">
                    {foreach name="preferentialTypeList" item="vo"}
                        <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                    {/foreach}
                </select>

            </div>
        </div>
        <!-- <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Preferential_info')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-preferential_info" class="form-control" name="row[preferential_info]" type="text">
            </div>
        </div> -->
        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('Price_preferential')}:</label>
            <div class="col-xs-6 col-sm-6">
                <input id="c-price_preferential" class="form-control" step="0.01" name="row[price_preferential]" type="number" value="">
            </div>
        </div>\
        <div class="form-group col-xs-6">
            <label class="control-label col-xs-4 col-sm-4">{:__('Optional_service')}:</label>
            <div class="col-xs-6 col-sm-4">
                <label for=""><input id="row[is_select_optional_service]" name="row[is_select_optional_service]" type="checkbox" value="1"></label>
            </div>40元/天
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_amount" readonly="true" class="form-control" step="0.01" name="row[total_amount]" type="number" value="">
        </div>
    </div>

    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Vehicle_outbound_mileage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-vehicle_outbound_mileage" class="form-control" name="row[vehicle_outbound_mileage]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Vehicle_inbound_mileage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-vehicle_inbound_mileage" class="form-control" name="row[vehicle_inbound_mileage]" type="number" value="0">
        </div>
    </div> -->
   <!--  <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Paid_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-paid_amount" readonly="true" class="form-control" step="0.01" name="row[paid_amount]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_source')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-pay_source" class="form-control selectpicker" name="row[pay_source]">
                {foreach name="paySourceList" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Rent_per_day')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rent_per_day" class="form-control" step="0.01" name="row[rent_per_day]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_rent')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_rent" class="form-control" step="0.01" name="row[price_rent]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_poundage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_poundage" class="form-control" step="0.01" name="row[price_poundage]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_basic_insurance')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_basic_insurance" class="form-control" step="0.01" name="row[price_basic_insurance]" type="number" value="0.00">
        </div>
    </div> -->
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_deposit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_deposit" class="form-control" step="0.01" name="row[price_deposit]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_deposit_violation')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_deposit_violation" class="form-control" step="0.01" name="row[price_deposit_violation]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deposit_pay_source')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-deposit_pay_source" class="form-control selectpicker" name="row[deposit_pay_source]">
                {foreach name="depositPaySourceList" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Paid_deposit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-paid_deposit" class="form-control" step="0.01" name="row[paid_deposit]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Settlement_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
            {foreach name="settlementStatusList" item="vo"}
            <label for="row[settlement_status]-{$key}"><input id="row[settlement_status]-{$key}" name="row[settlement_status]" type="radio" value="{$key}" {in name="key" value="0"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Settlemented_admin_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-settlemented_admin_id" data-rule="required" data-source="settlemented/admin/index" class="form-control selectpage" name="row[settlemented_admin_id]" type="text" value="">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark_content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remark_content" class="form-control editor" rows="5" name="row[remark_content]" cols="50"></textarea>
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Settlement_remark_content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-settlement_remark_content" class="form-control editor" rows="5" name="row[settlement_remark_content]" cols="50"></textarea>
        </div>
    </div> -->

    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Optional_service_info')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-optional_service_info" class="form-control" name="row[optional_service_info]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_optional_service')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_optional_service" class="form-control" step="0.01" name="row[price_optional_service]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Daily_rent_detailed_info')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-daily_rent_detailed_info" class="form-control" name="row[daily_rent_detailed_info]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_overtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_overtime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[price_overtime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_car_damage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_car_damage" class="form-control" step="0.01" name="row[price_car_damage]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_violation')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_violation" class="form-control" step="0.01" name="row[price_violation]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_oil')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_oil" class="form-control" step="0.01" name="row[price_oil]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_oil_agency')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_oil_agency" class="form-control" step="0.01" name="row[price_oil_agency]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_other')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_other" class="form-control" step="0.01" name="row[price_other]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_designated_driving')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_designated_driving" class="form-control" step="0.01" name="row[price_designated_driving]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_different_office')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_different_office" class="form-control" step="0.01" name="row[price_different_office]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_take_car')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_take_car" class="form-control" step="0.01" name="row[price_take_car]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_return_car')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_return_car" class="form-control" step="0.01" name="row[price_return_car]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address_take_car')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address_take_car" class="form-control" name="row[address_take_car]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address_return_car')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address_return_car" class="form-control" name="row[address_return_car]" type="text">
        </div>
    </div> -->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>