{if $config['background-video']}
<div id="video_wrapper">
    <video autoplay muted loop>
        <source src="{$config['background-video']}" type="video/mp4">
    </video>
</div>
{/if}
<style>
    body {
        {if $config['background-color'] || $config['background-image']}
            background:{$config['background-color']} {if $config['background-image']}url("{$config['background-image']}"){/if};
        {/if}
        background-size:cover;
    }
    {if $config['background-video']}
    #video_wrapper {
        margin: 0px;
        padding: 0px;
    }

    #video_wrapper video {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: -100;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
    }
    {/if}
</style>